<footer class="footer">
    <div class="flexRow">
        <div class="flex20">
            <span>&copy; 2017 NaosSoft Solutions. All Rights Reserved.</span>
        </div>
        <div class="flex60">
            &nbsp;
        </div>
        <div class="flex20">
            <ul class="social">
                <li class="facebook">
                    <a href="https://www.facebook.com/pages/NaosSoft" target="_blank">
                        <img src="img/facebook.png" alt="facebook">
                    </a>
                </li>
                <li class="twitter">
                    <a href="https://www.twitter.com/NaosSoft" target="_blank">
                        <img src="img/twitter.png" alt="twitter">
                    </a>
                </li>
                <li class="instagram"><a href="https://instagram.com/NaosSoft" target="_blank"><img src="img/instagram.png" alt="instagram"></a></li>
            </ul>
        </div>
    </div>
</footer>