<nav id="mainNav" class="navbarheader navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#/main">Naos<span>S</span>oft</a>            
            <!--<img class="naos" src="../../img/naos-logo.png" />-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right foo">
                <li><a href="/#/about">About</a></li>
                <li><a href="/#/services">Services</a></li>
                <li><a href="/#/solutions">Solutions</a></li>
                <li><a href="/#/product">Product</a></li>
                <li><a href="/#/contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div class="ocean">
        <div class="polygon_bg"></div>
    </div>
</header>