/* two column flex layout for horizontal layout */
.flexRow {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexCol {
    padding: 0 5px 3px;
}

.flex5 {
    display: inline-block;
    width: 5%;
    padding: 0 5px 3px;
}

.flex10 {
    display: inline-block;
    width: 10%;
    padding: 0 5px 3px;
}

.flex15 {
    display: inline-block;
    width: 15%;
    padding: 0 5px 3px;
}

.flex20 {
    display: inline-block;
    width: 20%;
    padding: 0 5px 3px;
}

.flex30 {
    display: inline-block;
    width: 30%;
    padding: 0 5px 3px;
}

.flex40 {
    display: inline-block;
    width: 40%;
    padding: 0 5px 3px;
}

.flex45 {
    display: inline-block;
    width: 45%;
    padding: 0 5px 3px;
}

.flex50 {
    display: inline-block;
    width: 50%;
    padding: 0 5px 3px;
}

.flex60 {
    display: inline-block;
    width: 60%;
    padding: 0 5px 3px;
}

.flex70 {
    display: inline-block;
    width: 70%;
    padding: 0 5px 3px;
}

.flex80 {
    display: inline-block;
    width: 80%;
    padding: 0 5px 3px;
}

.flex90 {
    display: inline-block;
    width: 90%;
    padding: 0 5px 3px;
}

.flex100 {
    display: inline-block;
    width: 100%;
    padding: 0 5px 3px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.flex-row-item {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.bold {
    font-weight: bolder;
}

.scrollable2 {
    overflow-y: scroll !important;
}