<div class="innerPage">
    <div class="container">       
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">About Us</h2>
                <hr>
                <div>
                    <p>NaosSoft is a cutting edge company which primarily focuses on designing and producing awesome products that fill everyone’s life with what we call Interesting Things, others also call these Internet of Things. NaosSoft is a technology product company which is driven under the collective aegis of technical, visionary and entrepreneurial, leadership of the founders.</p>
                </div>
            </div>
        </div>
    </div>
</div>
