<div class="innerPage">         
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>We build effective, smart and simplified web &amp; mobile solutions.</h1>
                            <h3>Our teams help you reach business goals through agile software development.</h3>
                            <a href="about.html" class="btn btn-outline btn-xl page-scroll">Learnmore</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <img src="img/bnr-img.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Why Clients Like NaosSoft</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 icon-rotate">
                    <img src="img/updated_icon.png" class="whyUs_icon" alt="">
                    <h3>We keep you updated</h3>
                    <p>NaosSoft will help you manage your web project from conceptualization to creation, using the latest Internet technologies.</p>
                </div>
                <div class="col-md-4 icon-rotate">
                    <img src="img/results_icon.png" class="whyUs_icon" alt="">
                    <h3>We work for Results</h3>
                    <p>Trust NaosSoft to get an Internet presence that reflects your ideas and meets strategic objectives of your business!</p>
                </div>
                <div class="col-md-4 icon-rotate">
                    <img src="img/timer_icon.png" class="whyUs_icon" alt="">
                    <h3>We deliver on time</h3>
                    <p>We know time is precious. We stick on it, work to reduce development time and deliver better products.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="product_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Our Product  - Air Services Complaint System</h2>
                        <p class="text-muted">Description of the prod goes here.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="img/flow.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Development</h3>
                    <div class="product_dec">
                        <p>Traditional desktop softwares are expensive and has only increased maintenance, backup.It does not extend access to students, teachers and parents. They are obsolete.Web based solutions were seen a lot in the market from past five years but institutions quickly realized the lack of scalability, security, integration to endless software modules, automating business rules.</p>
                        <h3>Features</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>Time Management</li>
                                    <li>Services Management</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>Dynamic Roles</li>
                                    <li>Enquiries </li>
                                    <li>Reports</li>
                                    <li>Alerts</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="padding-top:20px;">
                    <a href="product.html" class="btn btn-info btn-xl">Get It Now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="devProcess_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Development Process</h2>
                    <hr>
                    <div class="dev_process">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs devPro-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <a href="#discovery" aria-controls="discovery" role="tab" data-toggle="tab">Discovery</a>
                            </li>
                            <li role="presentation">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <a href="#design" aria-controls="design" role="tab" data-toggle="tab">Design</a>
                            </li>
                            <li role="presentation">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <a href="#release" aria-controls="release" role="tab" data-toggle="tab">Release Planning</a>
                            </li>
                            <li role="presentation">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                <a href="#development" aria-controls="development" role="tab" data-toggle="tab">Development</a>
                            </li>
                            <li role="presentation">
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                <a href="#launch" aria-controls="launch" role="tab" data-toggle="tab">Launch</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="discovery">
                                <p>We plan and collect information about the client’s requirements and targeted web audiences. Web development incorporates all areas of creating a Web site. This includes Web design (graphic design, XHTML, CSS, usability and semantics), programming (PHP, Java, JavaScript, MySQL, Access), server administration, content management, marketing, testing and deployment. </p>
                                <a href="services.html" class="btn btn-outline">Readmore</a>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="design">
                                <p>This involves designing of the website, web page links and the feel of individual pages. We look into every aspect of information, its consistency and correctness as well as checking the technical makeup of the web. Our web development incorporates all areas of creating a Web site. This includes Web design (graphic design, XHTML, CSS, usability and semantics)</p>
                                <a href="services.html" class="btn btn-outline">Readmore</a>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="release">
                                <p>Implementation is the process of creating files of HTML (and associated software, such as Java applets). We provide a wide range of web services to suit your entire Internet or intranet needs. From a simple static website to a database driven dynamic site with content management - we can meet all of your requirements within deadline.</p>
                                <a href="services.html" class="btn btn-outline">Readmore</a>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="development">
                                <p>Our team members are responsible for the development of major commercial software products and web applications. We specialize in developing software for organizations that incorporate our work in their product offerings, marketed under their company or brand name. Our reputation for proficiency, integrity, and trust leads to many referrals and repeat business.</p>
                                <a href="services.html" class="btn btn-outline">Readmore</a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="launch">
                                <p>NaosSoft will help you manage your web project from conceptualization to creation, using the latest Internet technologies. Understanding your business is a key part of our process—it lets us tailor our designs to meet your unique businesses needs. You'll love knowing you have full control of your project, without having to shoulder the burden of the strategy. </p>
                                <a href="services.html" class="btn btn-outline">Readmore</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>